body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
}

h1 {
  font-family: "Poppins", sans-serif;
}

pre {
  white-space: pre-wrap;
}

pre,
code {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

button {
  padding: 0.8em 1.6em;
  font-size: 1em;
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
  margin-top: 1em;
}

.terraform {
  color: #ffffff;
  background-color: #5c4ee8;
}

.vault {
  color: #000000;
  background-color: #ffec6e;
}

.consul {
  color: #ffffff;
  background-color: #dc477d;
}

#warning {
  background-color: #ffebe6;
  border-radius: 0.1em;
  margin: 1em 0;
  padding: 0.8em;
}

.code-block {
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 0.1em;
  font-size: 0.75em;
}

.code-block a {
  text-decoration: none;
}

code {
  font-family: "Roboto Mono", monospace;
}
